{% extends 'base.html' %}
{% block body %}
<div class="p-3 bg-success">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-3">
              <style>
                  .mb-4{
                  color:rgb(71, 55, 195);
                  }
              </style>


            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Welcome To Concordia Travels Application</p>
              <p class="mb-4"> Are you New Customer to Concordia Travels?  Please create your new customer account with us</p><br><br>
                <a href="{% url 'signup' %}"><input class="btn btn-primary" type="submit" value="Create Account "></a>

            </div>



            <form action="#" class="p-3 bg-light" novalidate method="POST">


              <div class="row form-group">

                <div class="col-md-4 mb-1 mb-md-0">
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
              </div>
            </form>
          </div>

          </div>
        </div>
      </div>

{% for i in messages %}
<script>
    alert("{{i}}")
</script>
{% endfor %}
{% endblock %}
